@import url(../../../../css/global-style.scss);
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: fit-content;
  .buytitle {
    height: 62px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 255px;
  }
  .manger-profile {
    height: 400px;
    min-width: 939px;
    background-color: var(--bianca);
    .pay-text {
      margin-top: 10px;
      text-align: center;
    }
    .pay-card {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      img {
        width: 150px;
        height: auto;
        margin-left: 50px;
      }
    }
  }
  .buytitle {
  }
  .manger-profile {
    input {
      border-bottom: 1px solid #dbdbdb;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
    }
  }
}
