@import '../../css/global-style.scss';

.fill-background {
  background-color: $secondary;
}
.container-fluid {
  padding: 0;

  // height: 150px;

  .footer {
    max-width: 1440px;

    .my-p {
      line-height: 28px;
    }

    .logo {
      height: 100px;
    }
  }
}
