@import url(../../css/global-style.scss);

.container-fluid {
  display: flex;
  padding: 0;
  justify-content: center;
  flex-direction: column;
}
.footer {
  align-items: flex-start;
  background-color: var(--bianca);
  display: flex;
  flex: 1;
  gap: 120px;
  justify-content: center;

  padding: 60px 0px;
  width: 100%;
  .logo {
    height: 120px;
    min-width: 284px;
    .pic {
      height: 120px;
      left: 0;
      object-fit: cover;
      top: 0;
    }
  }
  .footer-item {
    height: 159px;
    min-width: 74px;
    position: relative;
    .title {
      left: 0;
      letter-spacing: 0;
      line-height: normal;
      top: 0;
    }
    .sub-title {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 11px;
      left: 0;
      min-height: 117px;
      position: absolute;
      top: 42px;
      width: 80px;
      .sub-title-item {
        letter-spacing: 0;
        line-height: normal;
        min-height: 21px;
      }
    }
  }
}
