@import '../../../css/global-style.scss';
@import 'material-symbols';

$main: #FFB905;
$secondary: #fcfaf2;
$secondaryTwo:#FCE7AF;
$textColor: #734338;
$hoverColor: #ff9b05;
$my-border-radius: 10px;
  
  body{
      color: $textColor;
      font-family: 'Noto Sans TC', sans-serif;
  }
  .object-cover{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .title{
      width: fit-content;
      background: linear-gradient(to bottom, transparent 75%, $main 75% );
  }
  .my-pay-btn{
      background: $main;
      padding: 15px 0;
      border-radius: 10px;
      width: 100%;
      text-align: center;
      border: 0 solid transparent;
  }
  .my-edit-btn{
      background: $secondaryTwo;
      padding: 8px;
      border-radius: 10px;
      text-align: center;
      border: 0 solid transparent;
  }
  .my-card-btn{
      background: $secondaryTwo;
      padding: 10px 15px;
      border-radius: 10px;
      text-align:justify;
      border: 0 solid transparent;
  }
  /* NOTE 進度條 */
      .step-bar{
          height: 75px;
          background: $secondary;
          border-radius: 20px;
      }
      .step-done{
          width: 30px;
          height: 30px;
          background: $main;
          border-radius: 50%;
          border:1px solid $textColor;
      }
      .step-doing-center{
          width: 18px;
          height: 18px;
          background: $main;
          border:1px solid $textColor;
          border-radius: 50%;
      }
      .step-doing{
          width: 36px;
          height: 36px;
          background: #fff;
          border-radius: 50%;
          border:1px solid $textColor;
          box-shadow:  0 4px 4px 0 rgba(49, 49, 49,0.25);
      }
      .step-undo{
          width: 30px;
          height: 30px;
          background: transparent;
          border-radius: 50%;
          border:1px solid $textColor;
      }
      .line{
          height: 2px;
          background: $textColor;
          border-radius: 3px;
      }
      .line-done{
          height: 5px;
          background: $textColor;
          border-radius: 3px;
      }

      /* 購物車清單 */
    .item-section{
        background: $secondary;
        border-radius: $my-border-radius;
        padding: 30px 40px;
    }
    .item{
        background: #fff;
        border-radius: $my-border-radius;
    }
    .item-image{
        border-radius: $my-border-radius;
    }
    
/* 聯絡資料 */
.contact-user-btn{
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    border: 0 solid transparent;
    /* border: 1px solid $textColor; */
}
/* 折扣 */
.use-coupon-btn{
    width: fit-content;
    padding: 8px 15px;
    border-radius: 10px;
    text-align: center;
    border: 0 solid transparent;
}
/* 同意條款 */
.rule-section{
        border-radius: $my-border-radius;
        
}
/* 小計清單 */
.sub-list{
position: relative;

}
.sub-section{
    background: $secondary;
    border-radius: $my-border-radius;
}
.sub-detail{
    background: #fff;
    border-radius: $my-border-radius;

}
.sub-price{
    background: $secondaryTwo;
    padding: 8px 15px;
    border-radius: $my-border-radius;
}
/* total */
.topay a{
    color: $textColor;
}



