@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,600|Stick:400|Nunito+Sans:400,700,600,900|Poppins:400,700|Inter:400,700,500,600|Roboto:400,300,700,600');

@font-face {
  font-family: 'Microsoft JhengHei-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.animaapp.com/MicrosoftJhengHei-Bold')
    format('truetype');
}

@font-face {
  font-family: 'Microsoft JhengHei-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.animaapp.com/MicrosoftJhengHei-Regular')
    format('truetype');
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: fit-content;
}

.buylist {
  height: 493px;
  min-width: 939px;
}

.overlap-group9 {
  height: 432px;
  left: 30px;
  position: relative;
  top: 28px;
  width: 880px;
}
.button {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  margin-left: auto;
}
.button-4 {
  align-items: flex-start;
  background-color: var(--gold);
  border-radius: 10px;
  display: flex;
  height: 36px;
  left: 708px;
  min-width: 148px;
  position: absolute;
  top: 73px;
}

.overlap-group-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--old-copper);
  border-radius: 10px;
  display: flex;
  height: 36px;
  min-width: 148px;
  padding: 5px 40.7px;
}

.publish {
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 64px;
  text-align: center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--old-copper);
  border-radius: 10px;
  display: flex;
  height: 36px;
  left: 708px;
  min-width: 148px;
  padding: 5px 40.7px;
  position: absolute;
  top: 168px;
}

.button-6 {
  align-items: flex-start;
  background-color: var(--gold);
  border-radius: 10px;
  display: flex;
  height: 36px;
  left: 708px;
  min-width: 148px;
  position: absolute;
  top: 381px;
}

.nt-7200-1 {
  height: 22px;
  left: 157px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 87px;
}

.button-5 {
  align-items: flex-start;
  background-color: var(--gold);
  border-radius: 10px;
  display: flex;
  height: 36px;
  left: 708px;
  min-width: 148px;
  position: absolute;
  top: 226px;
}

.buylist-items {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  min-height: 432px;
  top: 0;
  width: 880px;
}

.overlap-group5 {
  height: 127px;
  margin-left: 4.5px;
  position: relative;
  width: 871px;
}

.component {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--old-copper);
  display: flex;
  height: 127px;
  left: 0;
  min-width: 871px;
  position: absolute;
  top: 0;
}

.overlap-group-1 {
  margin: 10px 0;
  border: 1px solid;
  border-color: var(--old-copper);
  align-items: center;
  background-color: var(--white);
  
  display: flex;
  gap: 18px;
  height: 125px;
  min-width: 869px;
  padding: 14.6px 18.4px;
}

.rectangle-1911 {
  height: 95px;
  object-fit: cover;
  width: 115px;
}

.sukhothai-old-city {
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 6.3px;
  width: 201px;
}

.text-1 {
  height: 22px;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 52px;
}

.overlap-group4 {
  height: 127px;
  margin-left: -1px;
  margin-top: 29px;
  position: relative;
  width: 871px;
}

.text-3 {
  height: 22px;
  left: 153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 52px;
}

.overlap-group3 {
  height: 127px;
  margin-left: 4px;
  margin-top: 24px;
  position: relative;
  width: 871px;
}

.text-2 {
  height: 22px;
  left: 153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
}

.nt-7200-2 {
  height: 22px;
  left: 157px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 238px;
}

.button-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--old-copper);
  border-radius: 10px;
  display: flex;
  height: 36px;
  left: 708px;
  min-width: 148px;
  padding: 5px 40.7px;
  position: absolute;
  top: 323px;
}

.nt-7200-3 {
  height: 22px;
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 389px;
}

.button-1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--old-copper);
  border-radius: 10px;
  display: flex;
  height: 36px;
  left: 708px;
  min-width: 148px;
  padding: 5px 40.7px;

  top: 15px;
}

.buytitle {
  height: 62px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: 255px;
}

.preferlist {
  align-items: flex-end;
  display: flex;
  gap: 37px;
  padding: 0px 31px;
  width: fit-content;
}

.frame-3707 {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  width: fit-content;
}

.group-102-2,
.group-102-3 {
  height: 343px;
  margin-right: -4px;
  min-width: 265px;
}

.overlap-group-3 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--old-copper);
  display: flex;
  flex-direction: column;
  min-height: 343px;
  padding: 16px 0;
  width: 261px;
}

.rectangle-82 {
  height: 160px;
  margin-right: 3px;
  object-fit: cover;
  width: 220px;
}

.group-98-2,
.group-98-3 {
  align-items: flex-end;
  display: flex;
  gap: 6px;
  margin-top: 17px;
  min-width: 223px;
}

.group-97-2,
.group-97-3 {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 19px;
  min-width: 133px;
}

.place {
  height: 16px;
  margin-bottom: 1px;
  object-fit: cover;
  width: 16px;
}

.carpati-ukraine-2,
.carpati-ukraine-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  min-width: 112px;
}

.group-96 {
  align-items: center;
  display: flex;
  gap: 5px;
  min-width: 84px;
}

.coin-2,
.coin-3 {
  height: 16px;
  margin-top: 1px;
  width: 16px;
}

.group-107-2,
.group-107-3 {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 21px;
  min-width: 67px;
}

.number-2,
.number-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  min-width: 20px;
}

.person-2,
.person-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 13px;
  min-width: 40px;
}

.surname-2,
.surname-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4px;
  margin-top: 17px;
  width: 219px;
}

.great-skiing-opportu-2,
.great-skiing-opportu-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3px;
  margin-top: 5px;
  min-height: 59px;
  width: 220px;
}

.group-102-1 {
  height: 343px;
  min-width: 265px;
}

.great-skiing-opportu-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3px;
  margin-top: 4px;
  min-height: 59px;
  width: 220px;
}

.group-98-1 {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-top: 17px;
  min-width: 223px;
}

.coin-1 {
  height: 16px;
  width: 16px;
}

.group-107-1 {
  align-items: center;
  display: flex;
  gap: 5px;
  height: 22px;
  min-width: 67px;
}

.person-1 {
  color: var(--old-copper);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 14px;
  min-width: 40px;
}

.number-1 {
  color: var(--old-copper);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m2);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 18px;
}

.group-97-1 {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 19px;
  margin-top: 1px;
  min-width: 135px;
}

.carpati-ukraine-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  min-width: 114px;
}

.surname-1 {
  color: var(--old-copper);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-l2);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4px;
  margin-top: 17px;
  width: 219px;
}

.prefertitle {
  height: 62px;
  letter-spacing: 0;
  line-height: normal;
  width: 255px;
}
