@import '../../../../css/global-style.scss';

.hotellist-box {
  background: #fff;

  .products-card-pic {
    width: 300px;
    height: 207px;
  }
  .text-hide {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  li {
    .search-tag {
      border: 1px solid $textColor;
      background-color: transparent;
    }

    .search-tag:hover {
      background-color: $main;
    }
  }
  .map {
    max-width: 250px;
    height: 200px;
    background-color: #aaa;
    button {
      border: none;
      background: $main;
      top: 40%;
      left: 33%;
      padding: 10px;
      border-radius: 10px;
    }
  }
  .location-type-box {
    border: 1px solid $textColor;
    max-width: 250px;
    .filter-box-title {
      border-bottom: 2px solid $textColor;
      padding-bottom: 5px;
    }
    .arrow-right {
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
      font-size: 40px;
      color: $textColor;
    }
  }
  .ej-fill-icon {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 24px;
    color: $textColor;
  }
  .booking-btn {
    background: $main;
    height: 250px;
    padding-left: 10px;
    border-radius: 0 10px 10px 0;
  }
  .pagenation-arrow {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: $textColor;
    margin: 0;
  }
  .pagenation-border:hover {
    background: $main;
  }
  .pagenation-border {
    border-left: 1px solid $textColor;
    border-top: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
  }
  .next {
    border-right: 1px solid $textColor;
    border-radius: 0 10px 10px 0;
  }
  .previous {
    border-radius: 10px 0 0 10px;
  }
}
