@import '../../../../css/global-style.scss';

.room-select-box {
  .room-type-card {
    border: 1px solid $textColor;
    max-width: 350px;
    max-height: 770px;
    .room-pic-box {
      width: 348px;
      height: 200px;
      .room-pic {
        width: 348px;
        height: 200px;
      }
    }
  }
}
