@import url(../../../../css/global-style.scss);
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$main: #ffb905;
$secondary: #fcfaf2;
$textColor: #734338;
$hoverColor: #ff9b05;

.recommend-to-c {
  max-width: 1440px;
  .card-pic{
    width: 220px;
    height: 160px;
  }
  .text-hide{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;  
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.not-fill {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
}