@import "../../../css/global-style.scss";

$general-padding:10px;

// product-card 在 global-style 裡有設定
// w900,h250 border padding
.product-card {

  .product-card-pic {
    width: 300px;
    height: 200px;
  }
  .products-tag-list {

    .tag {
      border: 1px solid $textColor;
      background-color: transparent;
        &:hover {
          background-color: $main;
        } 
    }
    
  }
  .bookmark {
    
  }
}


